---
layout: default
title: Your Wedding - [Wedding Date]
---

<div class="row">
  <div class="large-12 columns">
  	<h1 class="banner-title">Where to stay</h1>
  	<div class="banner" style="background-image: url({% asset_path placeholder.png %});">
  	</div>
	<p>Here are some ways you can find accommodation for the wedding weekend. Whatever you go for please bear in mind that this is one of the most popular wedding weekends of the year so there is a chance of high demand of accommodation around this area. The earlier you book the better!</p>

	<h2>Hotels and BnBs</h2>
	<p>Tripadvisor has loads of various hotels and BnBs.</p>

	<ul>
		<li><a href="http://www.tripadvisor.co.uk/Hotels-g186254-Exeter_Devon_England-Hotels.html">Hotels in or near Exeter</a> </li>
		<li><a href="http://www.tripadvisor.co.uk/Hotels-g1028950-Cullompton_Devon_England-Hotels.html">Hotels in or near Cullompton</a></li>
	</ul>

	<h2>Airbnb</h2>
	<p>Information about AirBnB</p>
	
	<ul>
		<li>
			<a href="https://www.airbnb.co.uk/s/Exeter--United-Kingdom?source=bb">AirBnB hosts near Exeter</a> 
		</li>
	</ul>
	

	<h2>Self-catering cottages</h2>
	<p>Here are some self-catering options.</p>

	<h2>Other self-catering cottages</h2>
	<ul>
		<li><a href="http://www.thecottagecompanydevon.co.uk">The Cottage Company Devon</a> </li>
		<li><a href="http://www.fursdon.co.uk/">Fursdon Estate</a></li>
		<li><a href="http://www.devonfarms.co.uk">Devon Farms</a></li>
	</ul>
	
	<h2>Camping</h2>
	<p>Are you offering a camping option? Do let us know if this is what you would like to do.</p>
  </div>
</div>
