---
layout: default
title: RSVP for Your Wedding - [Wedding Date]
---

<div class="row">
  <div class="large-12 columns">
    <h1 class="banner-title">RSVP</h1>
    <div class="banner" style="background-image: url({% asset_path placeholder.png %});"></div>
    </div>
    <div class="row">
		<div id="emf-container-outer" class="large-8 columns">
			<div id="emf-container">
			    <div class="emf-error-message" style='display:none'></div>

			    <form action="" class="leftLabel" enctype="multipart/form-data" id="emf-form" onsubmit="return validateForm();" method="post" name="emf-form" target="_self">
			        <div class="emf-head-widget" id="emf-form-instruction">
			            <div id="emf-form-description">
			                Please fill out this form to let us know if you can come (You'll need to set up your own form at <a href="http://www.emailmeform.com">EmailMeForm</a>)
			            </div>
			        </div>
			        <div class="row">
			            <div id="emf-li-0" class="emf-li-field emf-field-text data_container large-6 columns">
							<label class="emf-label-desc" for="element_0">Names of guests <span>*</span></label>
							<div class="emf-div-field">
								<input id="element_0" name="element_0" value="" style="width:100%" type="text" class="validate[required]" />
							</div>
						</div>
						<div class="emf-li-field emf-field-email data_container large-6 columns" id="emf-li-2">
			                <label class="emf-label-desc" for="element_2">Email</label>
			                <div class="emf-div-field">
			                    <input class="validate[optional,custom[email]]" id=
			                    "element_2" name="element_2" size="30" type="text" value=
			                    "">
			                </div>
			            </div>
			        </div>
			        <div class="row">
			            <div class="large-6 columns emf-li-field emf-field-radio data_container"
			            id="emf-li-1">
			                <label class="emf-label-desc" for="element_1">Are you able to
			                attend the wedding? <span>*</span></label>

			                <div class="emf-div-field">
			                    <div>
			                        <div class="side_by_side">
			                            <input class="validate[required]" id="element_1_0"
			                            name="element_1" onchange=
			                            "toggle_emf_element(EMF_jQuery(this).parents('.emf-li-field').find('.emf-allow-other input'), false)"
			                            type="radio" value="Yes"><label class="padleft-w5"
			                            for="element_1_0">Yes</label>
			                        </div>

			                        <div class="side_by_side">
			                            <input class="validate[required]" id="element_1_1"
			                            name="element_1" onchange=
			                            "toggle_emf_element(EMF_jQuery(this).parents('.emf-li-field').find('.emf-allow-other input'), false)"
			                            type="radio" value="No"><label class="padleft-w5"
			                            for="element_1_1">No</label>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="large-6 columns emf-li-field emf-field-radio data_container" id=
			            "emf-li-7">
			                <label class="emf-label-desc" for="element_3">Do you have accommodation sorted?</label>
			                <div class="emf-div-field">
			                    <div>
			                        <div class="side_by_side">
			                            <input class="validate[optional]" id="element_3_0"
			                            name="element_3" onchange=
			                            "toggle_emf_element(EMF_jQuery(this).parents('.emf-li-field').find('.emf-allow-other input'), false)"
			                            type="radio" value="Yes"><label class="padleft-w5"
			                            for="element_3_0">Yes</label>
			                        </div>

			                        <div class="side_by_side">
			                            <input class="validate[optional]" id="element_3_1"
			                            name="element_3" onchange=
			                            "toggle_emf_element(EMF_jQuery(this).parents('.emf-li-field').find('.emf-allow-other input'), false)"
			                            type="radio" value="No"><label class="padleft-w5"
			                            for="element_3_1">No</label>
			                        </div>
			                    </div>
			                </div>
			            </div>
				    	<div class="large-12 columns">
				    		<div class="emf-li-field emf-field-text data_container" id="emf-li-4">
				                <label class="emf-label-desc" for="element_4">Do you have any
				                specific food preferences?</label>
				                <div class="emf-div-field">
				                    <input class="validate[optional,length[ ,300]]" id=
				                    "element_4" name="element_8" style="width:100%" type="text"
				                    value="">
				                </div>
				        	</div>
				        </div>
				        <div class="large-12 columns">
				            <div class="emf-li-field emf-field-text data_container" id=
				            "emf-li-9">
				                <label class="emf-label-desc" for="element_5">Any song
				                requests?</label>
				                <div class="emf-div-field">
				                    <input class="validate[optional,length[ ,300]]" id=
				                    "element_5" name="element_5" style="width:100%" type="text"
				                    value="">
				                </div>
				            </div>
				        </div>
				        <div class="large-12 columns">
				            <div class="emf-li-field emf-field-textarea data_container" id="emf-li-6">
				                <label class="emf-label-desc" for="element_6">Anything else you'd like to add?</label>

				                <div class="emf-div-field">
				                    <textarea class="validate[optional]" cols="45" id=
				                    "element_6" name="element_6" rows="10"></textarea>
				                    <div class="emf-div-instruction">
				                        Type now or forever hold your peace.
				                    </div>
				                </div>
				            </div>
				            <div class="middle" id="emf-li-post-button">
				            	<input onmouseover="return true;" type="submit" value="RSVP Now">
				            </div>
				        </div>
				        <input name="element_counts" type="hidden" value="7">
				        <input name="embed" type="hidden" value="forms">
				    </div>
			    </form>
			</div>
		</div>
		<div class="large-4 columns">
			<dl> 
			   <dt>Address</dt> 
			   <dd>First Line of address</dd> 
			   <dd>Town</dd> 
			   <dd>County</dd> 
			   <dd>Postcode</dd> 
			   <dt>Telephone</dt> 
			   <dd>+44 1234 5678</dd>  
			   <dt>Email</dt> 
			   <dd><a href="mailto:">rsvp@youremailaddress.com</a></dd>    
			</dl>
		</div>
    </div>
</div>
