---
layout: default
title: Your Wedding - [Wedding Date]
images:
 - title: Cheers
   url: http://flic.kr/p/jjX7co
   thumbnail: http://farm6.staticflickr.com/5529/12028870756_ef104b419f.jpg
   fullscreen: http://farm6.staticflickr.com/5529/12028870756_5cf837c45e_o.jpg
 - title: Hug
   url: http://flic.kr/p/jjSREp
   thumbnail: http://farm4.staticflickr.com/3776/12028041415_24b2324f30.jpg
   fullscreen: http://farm4.staticflickr.com/3776/12028041415_24b2324f30_z.jpg
 - title: Happy
   url: http://flic.kr/p/jjSREp
   thumbnail: http://farm4.staticflickr.com/3690/12028314433_561fe2f713.jpg
   fullscreen: http://farm4.staticflickr.com/3690/12028314433_c6ff0e47b6_o.jpg
 - title: Our engagement at the Ritzy
   url: http://flic.kr/p/jjX7bm
   thumbnail: http://farm6.staticflickr.com/5482/12028870696_86ac15543d.jpg
   fullscreen: http://farm6.staticflickr.com/5482/12028870696_81cd91c361_o.jpg
 - title: Our engagement at the Ritzy
   url: http://flic.kr/p/jjX7hU
   thumbnail: http://farm3.staticflickr.com/2833/12028871076_c1639bece7.jpg
   fullscreen: http://farm3.staticflickr.com/2833/12028871076_96dfc43585_o.jpg
 - title: Our engagement at the Ritzy
   url: http://flic.kr/p/jjSRAr
   thumbnail: http://farm6.staticflickr.com/5540/12028041185_6661e8e816.jpg
   fullscreen: http://farm6.staticflickr.com/5540/12028041185_bba3e7c0e4_o.jpg
 - title: Our engagement at the Ritzy
   url: http://flic.kr/p/jjSRyn
   thumbnail: http://farm4.staticflickr.com/3733/12028041065_b123201441.jpg
   fullscreen: http://farm4.staticflickr.com/3733/12028041065_70aeb69e6d_o.jpg
 - title: Back in the Cinema
   url: http://flic.kr/p/jjUfUM
   thumbnail: http://farm8.staticflickr.com/7359/12028314733_16080564b6.jpg
   fullscreen: http://farm8.staticflickr.com/7359/12028314733_06f8f06dc0_o.jpg
 - title: Natasha
   url: http://flic.kr/p/jjX7cU
   thumbnail: http://farm8.staticflickr.com/7400/12028870786_5b63e21b54.jpg
   fullscreen: http://farm8.staticflickr.com/7400/12028870786_5b63e21b54.jpg
 - title: Our engagement at the Ritzy
   url: http://flic.kr/p/jjUFkb
   thumbnail: http://farm6.staticflickr.com/5517/12028396884_52bef2b2d0.jpg
   fullscreen: http://farm6.staticflickr.com/5517/12028396884_f647d1e054_o.jpg
 - title: Our engagement at the Ritzy
   url: http://flic.kr/p/jjX6Uu
   thumbnail: http://farm6.staticflickr.com/5499/12028869776_bcd7be32f2.jpg
   fullscreen: http://farm6.staticflickr.com/5499/12028869776_cdd55edd4b_o.jpg
 - title: Our engagement at the Ritzy
   url: http://flic.kr/p/jjSRHk
   thumbnail: http://farm6.staticflickr.com/5505/12028041585_0d0774da8c.jpg
   fullscreen: http://farm6.staticflickr.com/5505/12028041585_3610337e13_o.jpg
---

<div class="row">
  <div class="large-12 columns">
    <h1 class="banner-title">Gallery</h1>
    <div id="story-gallery">
    	{% for images in page.images %}
    		<img src="{{images.thumbnail}}"
	        alt="{{images.title}}"
	        data-desc="<a href='{{images.url}}'>Original Image</a>"
	        data-fullsrc="{{images.fullscreen}}"
	    	/>
        {% endfor %}
	  </div>
  </div>
</div>
