---
layout: default
title: Gifts for Your Wedding - [Wedding Date]
---

<div class="row">
  <div class="large-12 columns">
    <h1 class="banner-title">Gifts</h1>
    <div class="banner" style="background-image: url({% asset_path placeholder.png %});"></div>
    <p>We will let you know more details of gift arrangements soon.</p>
  </div>
</div>
