---
layout: default
title: Your Wedding - [Wedding Date]
---

<div class="row">
  <div class="large-12 columns">
  	<ul class="example-orbit" data-orbit>
	  <li>
	    <img src="{% asset_path satelite-orbit.jpg %}" alt="slide 1" />
	    <div class="orbit-caption">
	      Caption One.
	    </div>
	  </li>
	  <li>
	    <img src="{% asset_path andromeda-orbit.jpg %}" alt="slide 2" />
	    <div class="orbit-caption">
	      Caption Two.
	    </div>
	  </li>
	  <li>
	    <img src="{% asset_path launch-orbit.jpg %}" alt="slide 3" />
	    <div class="orbit-caption">
	      Caption Three.
	    </div>
	  </li>
	</ul>
	<div class="title">
		<h1>Husband-To-Be and Wife-To-Be</h1>
		<h2>Your Wedding Date</h2>
	</div>
  </div>
</div>
