---
layout: default
title: Your Wedding - [Wedding Date]
schedule:
 - event: Ceremony
   time: 1.30pm
   location: Ceremony Venue
 - event: Photos
   time: 2.30pm
   location: Ceremony Venue
 - event: Reception begins
   time: 4.00pm
   location: Reception Venue
---

<div class="row">
  <div class="large-12 columns">
    <h1 class="banner-title">Schedule</h1>
    <div class="banner" style="background-image: url({% asset_path placeholder.png %});"></div>
    <div class="row">
    	<div class="large-6 columns">
    		<table class="schedule">
		    	<thead>
		    		<td>
		    			When?
		    		</td>
		    		<td>
		    			What?
		    		</td>
		    		<td>
		    			Where?
		    		</td>
		    	</thead>
		    	{% for schedule in page.schedule %}
	    		<tr>
	    			<td>
	    				{{schedule.time}}
	    			</td>
	    			<td>
	    				{{schedule.event}}
	    			</td>
	    			<td>
	    				{{schedule.location}}
	    			</td>
	    		</tr>
		        {% endfor %}
		    </table>
    	</div>
    	<div class="large-6 columns">
    		<h2>Dress code</h2>
    		<p>Standard wedding wear for cathedral then dancing.</p>
    		<p>There will be a bit of walking on grass to get to the reception, so girls might want to bring some flat shoes.</p>
    	</div>   	
    </div>
  </div>
</div>
