---
layout: default
title: Your Wedding - [Wedding Date]
---

<div class="row">
  <div class="large-12 columns">
  	<h1 class="banner-title">Story</h1>
  	<div class="banner" style="background-image: url({% asset_path placeholder.png %});"></div>
  	<div class="vid-container">
    	<iframe width="853" height="480" src="http://www.youtube.com/embed/uWjRQnKIXIk?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>You can put a youtube video here, or some pictures or text.</p>
  </div>
</div>
