---
layout: default
title: RSVP for Your Wedding - [Wedding Date]
---

<div class="row">
  <div class="large-12 columns">
    <h1 class="banner-title">RSVP</h1>
    <div class="banner" style="background-image: url({% asset_path placeholder.png %});"></div>
    </div>
    <div class="row">
		<div id="emf-container-outer" class="large-8 columns">
			<h2 class="success-message">Thanks for letting us know, we look forward to seeing you there!</h2>
			<p>Or if you can't come then we look forward to seeing you soon. Stay in touch.</p>
		</div>
		<div class="large-4 columns">
			<dl> 
			   <dt>Address</dt> 
			   <dd>First Line of address</dd> 
			   <dd>Town</dd> 
			   <dd>County</dd> 
			   <dd>Postcode</dd> 
			   <dt>Telephone</dt> 
			   <dd>+44 1234 5678</dd>  
			   <dt>Email</dt> 
			   <dd><a href="mailto:">rsvp@youremailaddress.com</a></dd>    
			</dl>
		</div>
    </div>
</div>
