---
layout: default
title: Your Wedding - [Wedding Date]
---

<div class="row">
  <div class="large-12 columns">
    <h1 class="banner-title">Transport</h1>
    <div class="banner b-right" style="background-image: url({% asset_path placeholder.png %});"></div>
    <div class="vid-container map">
    	<iframe src="https://mapsengine.google.com/map/embed?mid=zo4D29BIPUbo.kylXNfGTWKEM" width="853" height="480"></iframe>
    </div>
    <h2>By Car</h2>
	<p>Create a map using google maps and embed it above</p>
	<p>Information about getting there by car</p>
	<h2>By Train</h2>
	<p>Information about getting there by train</p>
	<ul>
		<li><a href="http://www.thetrainline.com/">The Trainline</a></li>
		<li><a href="http://www.redspottedhanky.com/">Red Spotted Hanky (They do loyalty points if you use trains a lot)</a></li>
		<li><a href="http://www.nationalrail.co.uk/">National Rail</a></li>
		<li><a href="http://www.moneysavingexpert.com/travel/cheap-train-tickets">Money Saving Expert's Guide to Cheap Train Tickets</a></li>
	</ul>
	<h2>By Coach</h2>
	<p>Information about getting there by coach. It's really cheap with <a href="https://uk.megabus.com/">MegaBus</a>. You can only book about 2 months in advance though.</p>
	<h2>Taxis</h2>
	<p>We'll add a list of some local taxi firms here.</p>
  </div>
</div>
