---
layout: default
title: Who's Who at Your Wedding - [Wedding Date]
---

<div class="row">
  <div class="large-12 columns">
    <h1 class="banner-title">Who's who</h1>
    <div class="banner" style="background-image: url({% asset_path who.png %});"></div>
    <p>We'll have some photos and background info for some of the key figures who'll be taking part in the day's events, so that you'll know who they are and you can say the right things to them.</p>
  </div>
</div>
