# Hide the social buttons until they have all loaded, then fade them in.
$ ->
  enabled = [
    <%= "'facebook'" if site.config['social']['facebook']['enabled'] unless site.config['social']['facebook'].nil? %>
    <%= "'google'" if site.config['social']['google']['enabled'] unless site.config['social']['google'].nil? %>
    <%= "'twitter'" if site.config['social']['twitter']['enabled'] unless site.config['social']['twitter'].nil? %>
  ]
  loaded = []
  container = $('aside.social-buttons')

  recordLoaded = (name) ->
    loaded.push name
    checkLoaded()

  checkLoaded = -> if loaded.length is enabled.length then showContainer()

  showContainer = ->
    container.hide().css('visibility', 'visible').fadeIn()
    # Force Google +1 button to appear.
    $('div.g-plus-container iframe').each ->
      @style.setProperty 'visibility', 'visible', 'important'

  <%= if site.config['social']['facebook']['enabled'] then
    "FB.Event.subscribe 'xfbml.render', -> recordLoaded 'facebook'"
  end unless site.config['social']['facebook'].nil? %>

  <%= if site.config['social']['google']['enabled'] then
    # Google +1 button does not have a subscribe event.
    "recordLoaded 'google'"
  end unless site.config['social']['google'].nil? %>

  <%= if site.config['social']['twitter']['enabled'] then
    # Twitter button does not have a subscribe event.
    "recordLoaded 'twitter'"
  end unless site.config['social']['twitter'].nil? %>

  true
