// Social Buttons
aside.social-buttons
  visibility: hidden
  height: 22px

  // Hide Google +1 button (it shows even if parent is hidden).
  div.g-plus-container
    display: inline-block
    iframe
      visibility: hidden !important
