//= require normalize-css/normalize.css
//= require highlightjs/styles/default

// Make sure the charset is set appropriately.
@charset "UTF-8"

//
// Fonts
//
@import "fonts"

// Global Foundation Settings
@import "custom/variables"
@import "settings"

// Import Foundation
@import "foundation/scss/foundation"

// Import Custom Styles

@import "custom/custom"
@import "custom/galerya"

// Load this when using social buttons.
<%= '@import "social-buttons"' if site.config['social'] %>
