body {
	background: url(asset_path('white-wall.jpg'));
}

.content {
	padding-top: $topbar-height;
	padding-bottom: $topbar-height;
}

h1.banner-title {
	position: absolute;
	padding: 15px;
	margin-top: 20px;
	color: #fff;
	background: $menubg;
	z-index: 9998;
}

.top-bar {
	text-align: center;
	z-index: 9999;
	position: fixed;
	width: 100%;

	&.expanded {
		background: $darker-menubg;

		.top-bar-section {
			li {
				width: 50%;
				float: left;
			}
		}
	} 

	li { 
		a {
			color: $menubg;
			font-size: 1.2em;
			text-transform: uppercase;
		}
	}

	.toggle-topbar {
		&.menu-icon { 			
			a {
				width: 900px;
				text-align: right;
			}
		}
	}
}

.orbit-container {
	margin-top: 20px;
	min-height: 346px;
}

.title {
	text-align: center;
}

@media #{$topbar-media-query} {
	.top-bar {
		background: transparent;
		position: relative;

		.top-bar-section {
			display: inline-block;
			margin-top: 10px;
		}

		ul {

			li { 

				a {
					background: transparent !important;
					color: $menubg;
					font-size: 1.2em;
					text-transform: uppercase;
				}

			&:hover {
					border-bottom: $topbar-hover-border;
					border-top: $topbar-hover-border;

					a {
						color: darken($menubg, 10%);
						line-height: ($topbar-height - (2 * $topbar-hover-border-width)) !important;
					}
				}
			}
		}
	}

	.content {
		padding-top: 0;
	}
}

.banner {
	height: 340px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-size: cover;
	background-position: center;

	&.b-right {
		background-position: center right;
	}
}

@media only screen and (orientation: portrait) {

	.top-bar.expanded {
		.top-bar-section {
			li {
				width: 100%;
				float: none;
			}
		}
	}
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background: $menubgrgb;
	text-align: center;
	z-index: 9998;

	p {
		padding: 5px;
		margin: 0;
		color: $very-dark-menubg;

		a, .tel {
			color: #fff;
		}
	}

	.two-line {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	.two-line {
		display: block;
	}
}

// Schedule

table.schedule {
	width: 100%;
	border: none;
	background: transparent;


	tr {
		background: transparent;

		td {
			font-size: 1em
		}
	}

	thead {
		background: transparent;
		border-bottom: $topbar-hover-border;
		border-top: $topbar-hover-border;

		tr {
			td {
				font-size: 1.5em;
				font-weight: 400;
				line-height: 1.5em;
				color: $menubgrgb;
			}
		}
	}
}

// Story

.vid-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

    h1 {
		text-align: left;
	}

	iframe, object, embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

// Photos

.galereya {
	margin-top: 20px;
}

.galereya-cell-desc-text {
	padding-top: 5px;

	a {
		color: $menubgrgb;
	}
}

// Contact 

#emf-container, #emf-container-outer #emf-form-shadows {
	width:100%;
}

#emf-form-description {
	margin-bottom: 10px;
}

.side_by_side {
	float: left;
}

.emf-div-field {
	textarea {
		margin-bottom: 5px;
	}
}

.emf-div-instruction {
	margin-bottom: 10px;
	font-size: 0.8em;
	color: grey;
}

#emf-li-post-button {
	text-align: center;

	input {
		padding: 10px 20px;
		background: $menubg;
		border: none;
		color: #fff;
	}
}

.success-message {
	color: $success-color;
}
