// Custom Variables
$menubg: rgba(77,148,214,0.8);
$menubgrgb: rgb(77,148,214);
$darker-menubg: #325f8a;
$very-dark-menubg: #1f3c57;
$success-color: #356B35;

// TopBar Styles

$topbar-hover-border-width: 2px;
$topbar-hover-border: $topbar-hover-border-width solid darken($menubgrgb, 10%)