<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  {% include meta.html %}
  <link type="text/plain" rel="author" href="humans.txt" />
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.0/webfont.js"></script>
  {% stylesheet app %}
  <script>{% asset fonts %}</script>
  {% javascript header %}
</head>

<body>
  <header>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name"></li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="schedule.html">On The Day</a></li>
          <li><a href="transport.html">Getting there</a></li>
          <li><a href="accomodation.html">Where To Stay</a></li>
          <li><a href="story.html">The Story</a></li>
          <li><a href="who.html">Who's who</a></li>
          <li><a href="gallery.html">Photos</a></li>
          <li><a href="gifts.html">Gifts</a></li>
        </ul>
      </section>
    </nav>
  </header>
  <div class="content">
    {{ content }}
  </div>
  <footer class="footer">
    <p><a href="contact.html">RSVP to let us know you're coming</a> or
    <br class="two-line" /><a href="contact.html">get in touch if you have any questions</a></p>
  </footer>

{% if site.social.facebook.enabled %}
  <div id="fb-root"></div>
{% endif %}

{% capture site_javascript %}
  <script>
    yepnope([
    {% for lib in site.cdn.libs %}
      {
        load: '{% if site.cdn_enabled %}{{ lib[0] }}{% else %}{{ lib[2] | asset_path }}{% endif %}',
        complete: function () {
          if ( {{ lib[1] }} ) {
            yepnope('{{ lib[2] | asset_path }}');
          }
        }
      },
    {% endfor %}
      '{% asset_path app.js %}'
    ]);
  {% if site.social.facebook.enabled %}
    {% asset vendor/social-facebook %}
  {% endif %}

  {% if site.social.google.enabled %}
    {% asset vendor/social-google %}
  {% endif %}

  {% if site.social.twitter.enabled %}
    {% asset vendor/social-twitter %}
  {% endif %}

  {% if page.comments and site.disqus %}
    {% asset vendor/disqus %}
  {% endif %}

  {% if site.google_analytics %}
    {% asset vendor/google-analytics %}
  {% endif %}

  {% if site.piwik %}
    {% asset vendor/piwik %}
  {% endif %}
  </script>
{% endcapture %}
{{ site_javascript | strip_newlines }}

</body>
</html>
